[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-vlc = "*"
pyobjc = "*"
pynput = "*"
mutagen = "*"
pylint = "*"
musicbrainzngs = "*"
google-cloud-storage = "*"
requests = "*"
cookiecutter = "*"
briefcase = "*"
toga = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
